/******************************************************************************
  Min Width "990px"
*******************************************************************************/
@media only screen and (min-width:990px) {
	/* BOXED */
	body.boxed .page-wrapper {
		margin:30px auto;
		max-width:1200px;
	}
	body.boxed {
		background-attachment: fixed;
	}
	body.boxed .is-sticky #nav-sticker {
		max-width:1200px;
	}
	body.boxed .container {
		padding-left:30px;
		padding-right:30px;
	}
	/* ===================================================================
						OWL CAROUSEL
	======================================================================*/
	.nav-outer.owl-carousel .owl-controls .owl-nav .owl-prev {
		left: -50px;
	}
	.nav-outer.owl-carousel .owl-controls .owl-nav .owl-next {
		right: -50px;
	}
}
/******************************************************************************
  Min Width "768px"
*******************************************************************************/
@media only screen and (min-width:768px) {
	/* ===================================================================
						NAVIGATION MENU
	======================================================================*/
	.navbar-collapse {
		text-align:center;
	}
	.navbar-nav.navbar-center {
		display: inline-block;
    	float: none;
	}
	.navbar-default .navbar-nav.navbar-social > li {
		padding:0 10px;
	}
	.navbar-default .navbar-nav > li {
		display:inline-block;
		float:none;
		vertical-align:middle;
		padding:0 15px;
	}
	.navbar-default .navbar-nav > li > a {
		line-height: 80px;
		padding: 0;
	}
	/* DROPDOWN */
	.dropdown-menu {
		background:#111;
		box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);	-webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);	-moz-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
		-ms-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);	-o-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
		border:none;
		border-radius:0;	-webkit-border-radius:0;	-moz-border-radius:0;	-ms-border-radius:0;	-o-border-radius:0;
		display: block;
		min-width: 170px;
		opacity: 0;
		padding: 0;
		margin:0;
		transition:0.3s all ease-in-out;-webkit-transition:0.3s all ease-in-out;-moz-transition:0.3s all ease-in-out;-ms-transition:0.3s all ease-in-out;-o-transition:0.3s all ease-in-out;
		visibility: hidden;
	}
	.dropdown:hover > .dropdown-menu {
		opacity:1;
		visibility: visible;
	}
	.navbar-nav .dropdown-menu {
		left: 0;
		right: auto;
	}
	.navbar-nav .dropdown-menu .sub-dropdown-menu {
		left:100%;
		top:0;
	}
	.navbar-right > li:last-of-type .dropdown-menu .sub-dropdown-menu,
	.navbar-right > li:nth-last-child(2) .dropdown-menu .sub-dropdown-menu {
		right:100%;
		left:auto;
		top:0;
	}
	.dropdown-menu > li > a  {
		padding: 8px 20px;
		color: rgba(255, 255, 255, 0.7);
	}
	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover,.dropdown-menu > li:hover > a {
		background-color: rgba(255, 255, 255, 0.05);
		color: #fff;
	}
	.dropdown-menu span.dropdown-toggle {
		position: absolute;
		right: 20px;
		top: 3px;
	}
}
/******************************************************************************
  Max Width "991px"
*******************************************************************************/
@media only screen and (min-width:991px){

}

/******************************************************************************
  Max Width "991px" and Min Width 768
*******************************************************************************/
@media (max-width:990px) and (min-width:768px) {

}
/******************************************************************************
  Max Width "991px"
*******************************************************************************/
@media only screen and (max-width:991px){
	
	.row > div[class^="col-md"]:last-child {
		margin-bottom: 0;
	}
	.row .row > div[class^="col-md"]:last-child {
		margin-bottom: 55px;
	}
	body.bordered {
		padding:15px;
	}
	/* NAVIGATION MENU */
	.navbar-default .navbar-nav > li {
		padding: 0 7px;
	}
	.navbar-default .navbar-nav > li > a, .nav-6.navbar-default .navbar-collapse > ul > li > a {
		padding: 0;
	}
	body.bordered .is-sticky #nav-sticker {
		padding: 0 15px;
	}
	/* ===================================================================
						ISOTOPE GRID
	======================================================================*/
	/* GRID 3 COLUMN */
	.isotope-grid.column-3 .grid-sizer,
	.isotope-grid.column-3 .grid-item { width: 50%; }
	/* GRID 4 COLUMN */
	.isotope-grid.column-4 .grid-sizer,
	.isotope-grid.column-4 .grid-item { width: 50%; }

}
/******************************************************************************
  Max Width "767px"
*******************************************************************************/

@media screen and (max-width: 767px){
	.animated {
		visibility:visible;
		animation:none;
		-webkit-animation:none;
		-moz-animation:none;
		-ms-animation:none;
		-o-animation:none;
	}

	.row > div[class^="col-sm"]:last-child {
		margin-bottom: 0;
	}
	body.bordered {
		padding:0;
		background:transparent;
	}
	/* ===================================================================
						NAVIGATION MENU
	======================================================================*/
	.navbar-nav {
		margin: 0 -15px;
	}
	.navbar-toggle {
		border:none;
		font-size:32px;
		color:#111;
		margin-top:0;
		margin-bottom:0;
		padding:0;
		line-height:70px;
	}
	.navbar-toggle.collapsed {
		font-size:36px;
	}
	.navbar-toggle.collapsed .ion-android-close:before {
		content:"\f20e";
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse {
		background:#fff;
	}
	.navbar-default .navbar-nav > li {
		padding: 0 15px;
	}
	.navbar-default .navbar-nav.navbar-social > li {
		display:inline-block;
		padding: 0 10px;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default .dropdown > a {
		display:block;
		line-height: 25px;
		padding-bottom: 10px;
		padding-top: 10px;
		color:#111;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > li:hover > a,
	.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li.dropdown > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li.dropdown > a:focus {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li.dropdown > a {
		color:#fff;
		background-color: #111;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 25px;
	}
	.navbar-nav .open .dropdown-menu > li.dropdown > a {
		padding: 10px 15px 10px 25px;
	}
	.navbar-nav .open .dropdown-menu {
    	background-color: #222;
		border-radius:0;	-webkit-border-radius:0;	-moz-border-radius:0;	-ms-border-radius:0;	-o-border-radius:0;
		padding:0;
	}
	.navbar-nav .open .dropdown-menu.sub-dropdown-menu {
		padding-left: 15px;
	}
	.navbar-default span.dropdown-toggle {
		cursor:pointer;
		display: inline-block;
		font-size: 25px;
		height: 25px;
		line-height: 25px;
		position: absolute;
		right: 15px;
		text-align: center;
		top: 10px;
		width: 25px;
		color:#fff;
		font-size:10px;
	}
	.navbar-default span.dropdown-toggle > i:before {
		content:"\f3d3";
	}
	.navbar-default .navbar-nav .dropdown.open > span.dropdown-toggle > i:before {
		content:"\f3d0";
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #fff;
	}

	/* ===================================================================
						ISOTOPE GRID
	======================================================================*/
	.isotope-grid.column-2 .grid-sizer,
	.isotope-grid.column-2 .grid-item { width: 100%; }
	/* GRID 3 COLUMN */
	.isotope-grid.column-3 .grid-sizer,
	.isotope-grid.column-3 .grid-item { width: 100%; }
	/* GRID 4 COLUMN */
	.isotope-grid.column-4 .grid-sizer,
	.isotope-grid.column-4 .grid-item { width: 100%; }

	header h1 {
		font-size: 40px;
		line-height: 40px;
	}

}
/******************************************************************************
  Max Width "480px"
*******************************************************************************/
@media screen and (max-width: 480px){
	.slider-inner h3 {
		font-size: 40px;
		line-height:45px;
	}
	.slider-inner p,header p {
		font-size: 10px;
		line-height: 18px;
	}
	.slider-inner .btn,header .btn  {
		padding:10px 18px!important;
		font-size: 8px;
	}
	.slider-inner .btn.btn-outline,header .btn.btn-outline {
		padding:8px 18px!important;
	}
	.section-title h3.title {
		font-size: 33px;
		line-height: 40px;
	}
}
